<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>Usuário ESTÁ Logado! / <%= current_user.email %></p>
<% else %>
  <p>Usuário NÃO Logado!</p>
<% end %>

<% if admin_signed_in? %>
  <p>Adminstrador ESTÁ Logado! / <%= current_admin.email %></p>
<% else %>
  <p>Adminstrador NÃO Logado!</p>
<% end %>
